# dev
/src

# config
.editorconfig
.eslintrc.js
.gitignore
.quokka
.swcrc

vite.config.js
vitest-setup.js
MIT-LICENSE.txt

# utils 
/utils

# test
/lib/**/**.test.js

/__test__

# dependencies
/node_modules
