# dev
/src

# config
.editorconfig
.eslintrc.js
.gitignore
.quokka
.swcrc

./README.md

# utils 
/utils

# test
/src/context/context.test.js
/src/observer/observer.test.js
/src/hooks/useObserver.test.js

# dependencies
/node_modules
